@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-custom1 {
    border-radius: 10px;
  }
  .rounded-custom2 {
    border-radius: 20px;
  }

  .text-2A333F{
color:#2A333F;
  }
  .chrome-scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .text-788596{
   
  color:#788596;
}